.post {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 549px;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-bottom: 30px;
  list-style: none;
  background-color: #ffffff;
  border-radius: 8px;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.postImage {
  width: 485px;
  height: 226px;
}