.button {
  margin-bottom: 8px;
  width: 150px;
  height: 40px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  border: none;
  border-radius: 50px;
}

.button:hover {
  cursor: pointer;
}

.submit {
  composes: button;
  color: #ffffff;
  background-color: #0f64db;
}

.reset {
  composes: button;
  color: #848484;
  background-color: #ebebeb;
  box-shadow: 0 3px 6px rgb(0, 0, 0, 0.16);
}

.disButton {
  composes: button;
  color: #fff;
  background-color: rgba(15, 100, 219, 0.5);
}

.status {
  composes: button;
  color: #ffffff;
  width: 40px;
  height: 40px;
  background-color: #0f64db;
  border-radius: 4px;
  background-image: url('../../assets/img/ok.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.logout {
  composes: button;
  width: 50px;
  height: 50px;
  margin-right: 8px;
  color: #333333;
  border-radius: 4px;
  background-color: #ffffff;
  background-image: url('../../assets/img/exit.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.share {
  composes: button;
  color: #ffffff;
  background-color: #0f64db;
  align-self: center;
}

.close {
  display: block;
  width: 14px;
  height: 14px;
  border: none;
  margin-top: -12px;
  margin-right: 16px;
  background-image: url('../../assets/img/close.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}