.postForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding-left: 21px;
  padding-top: 28px;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.postFormContainer {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
}

.userImage {
  width: 48px;
  height: 48px;
  margin-right: 14px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.label {
  align-self: flex-start;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  color: #333333;
}

.input {
  width: 539px;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding-left: 19px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #333333;
  border: 1px solid #EBF3FF;
  border-radius: 4px;
  background-color: #f5f9ff;
  box-sizing: border-box;
}

.input:last-of-type {
  margin-bottom: 11px;
}

.input:nth-of-type(2) {
  height: 99px;
}

.postWrapper {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  margin-bottom: 15px;
  background-color: #ffffff;
}