.analytics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.analyticsTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}